{% extends "index.html" %}
{% load staticfiles %}
{% block head %}
<title>Buscar | OportunidApp</title>
{% endblock %}
{% block content %}
<body class="body-img">
	<div class="container div-find">
		<div class="row text-center">
		    <h2>Encuentra la persona correcta para tu trabajo</h2>
	    		<div class="row space">
		    		<div class="col-md-6">
			    		<div class="col-md-11">
			    			<div class="form-group">
								<label for="busqueda">Busca</label>
				    			<div class="input-group">
					    			<input id="busqueda" name="busqueda" type="text" class="form-control" placeholder="¿Que Estas Buscando?" autocomplete="off">
									<span class="input-group-btn">
										<button class="btn btn-block btn-find" id="buscar" type="button">Buscar</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-11">	
							<div class="form-group">
								<label for="categoria">Categoría</label>
								<select name="categoria" id="categoria" class="form-control">
									<option disabled selected value="0">Categorías</option>
									{% for categoria in categorias %}                         
										<option value="{{ categoria.id }}">{{ categoria.categoria }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-11">	
							<div class="form-group">
								<label for="orden">Orden</label>
								<select name="orden" id="orden" class="form-control">
									<option disabled selected>Ordenar por</option>
									<option value="1">Mas solicitudes</option>
									<option value="2">Mas valorados</option>
								</select>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="container div-result">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="tag-show">
					</div>
				</div>
				<div id = "resultados">
					{% for habilidad in habilidades %}
						<div class="col-xs-12 col-md-12 result-find notice">
							<div class="col-xs-12 col-sm-4 col-md-2 text-center">
								<img src="{{ habilidad.foto.url }}" class="desc-img-2" alt="Responsive image">
							</div>
							<div class="col-xs-12 col-sm-8 col-md-10">
								<div class="col-md-8">
									<h3>
										<strong>
											<a href="/buscar/{{ habilidad.slug }}/">
												{{ habilidad.nhabilidad }}
											</a>
										</strong>
									</h3>
									<p class="username">
										{{ habilidad.userfirstname }} {{ habilidad.userlastname }}
									</p>
									<p class="text">
										{{ habilidad.descripcion }}
									</p>
								</div>
								<div class="col-md-4">
									<div class="label-descp-2 label-warning col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Calificación">
										<i class="glyphicon glyphicon-star desc3"></i>
										<strong class="desc3">
											{% if habilidad.val_promedio %}
												{{ habilidad.val_promedio }}
											{% else %}
												<span>ninguno</span>
											{% endif %}
										</strong>
									</div>
									<div class="label-descp-2 label-telephone col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Número Telefónico">
										<i class="glyphicon glyphicon-phone-alt desc3"></i> 
										<strong class="desc3">
										{{ habilidad.usuario.celular1 }}
										</strong>
									</div>
									<div class="label-descp-2 label-success col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Solicitudes">
										<i class="glyphicon glyphicon-th-list desc3"></i> 
										<strong class="desc3">
											{% if habilidad.num_solicitudes %}
												{{ habilidad.num_solicitudes }}
											{% else %}
												<span>ninguno</span>
											{% endif %}
										</strong>
									</div>
									<div class="label-descp-2 label-danger col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Precio">
										<i class="glyphicon glyphicon-usd desc3"></i> 
										<strong class="desc3">
											{% if habilidad.precio %}
												{{ habilidad.precio }}
											{% else %}
												<span>por acordar</span>
											{% endif %}
										</strong>
									</div>
								</div>
				  			</div>
			  			</div>
					{% endfor %}
				</div>
				{% if is_paginated %}
					<div class="pagination">
						<span class="page-links">
							{% if page_obj.has_previous %}
								<a href="{% url 'buscar' %}?page={{ page_obj.previous_page_number }}">atrás</a>
							{% endif %}
							<span class="page-current">
								Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
							</span>
							{% if page_obj.has_next %}
								<a href="{% url 'buscar' %}?page={{ page_obj.next_page_number }}">siguiente</a>
							{% endif %}
						</span>
					</div>
				{% else %}
					<span>Todos los resultados</span>
				{% endif %}
			</div>
		</div>
	</div>   
</body>
{% endblock %}
{% block scripts %}
	<script>
		$(function(){
			$('#buscar').click(function() {
				busquedaInput = $('#busqueda').get(0);
				var url = "{% url 'buscar' %}?{% if queryString%}{{queryString}}{% endif %}"+'&busqueda='+busquedaInput.value;
				console.log(busquedaInput.value);
				window.location.href = url;
			});

			$('#busqueda').keyup(function(e){
				if (e.keyCode == 13){
					busquedaInput = $('#busqueda').get(0);
					console.log(busquedaInput.value);
				}
			});
		})
	</script>
{% endblock %}