{% extends "index.html" %}

{% block head %}
<title>Buscar | OportunidApp</title>
<style>
	.menuItemBusqueda{
		background-color: rgb(12, 32, 50);;
	}
</style>
{% endblock %}

{% block content %}
<div class="contentWidth box">
	<div class="row text-center box">
		<h2>Encuentra la persona correcta para tu trabajo</h2>
		<form class="form-inline">
			<div class="row space">
				<div class="col-md-12 form-group">
					<label for="busqueda"></label>
					<div class="col-md-8 input-group">
						<input id="busqueda" name="busqueda" type="search" class="form-control" placeholder="¿Que Estas Buscando?" autocomplete="off">
						<span class="input-group-btn">
							<button class="btn btn-block btn-find" id="buscar" type="button">Buscar</button>
						</span>
					</div>
				</div>
			</div>

			<div class="row text-left category-show">
				<p class="text-center"><b>Categorias</b></p>
				<ul class="list-unstyled list-inline">
					{% for categoria in categorias %}
					<li class="spacing">
						<a href="{% url 'busqueda' categoria.slug %}" class="label label-default">
							{{ categoria.categoria }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>

		</form>
	</div>
</div>
{% endblock %}



