{% extends "index.html" %}
{% load staticfiles %}
{% block head %}
<title>Buscar | OportunidApp</title>
{% endblock %}

{% block content %}
<div class="container div-find">
	<div class="row header-titulo">
		<div class=" col-md-3">
			<h3>Resultados</h3>
		</div>
		<div class="col-md-9 header-busqueda">
			<div class="input-group">
			<input id="busqueda" name="busqueda" type="text" class="form-control" placeholder="¿Que Estas Buscando?" autocomplete="off">
			<span class="input-group-btn">
				<button class="btn btn-block btn-find" id="buscar" type="button">Buscar</button>
			</span>
		</div>
		</div>
	</div>
	<div class="row controles">
		<div class="col-md-8">
			<ul class="breadcrumbs">
				<li>
					<a href="{% url 'buscar' %}">Categorias > </a></li>
				<li>
					<a href="/{{categoria.slug}}/">{{categoria.categoria}} </a></li>
				{% if  busqueda %}
					<li>
						<a href="/{{categoria.slug}}/?q={{busqueda}}"> > {{busqueda}}</a>
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="col-md-4 controles-paginador">
			<span class="page-links">
				{% if is_paginated %}
					{% if page_obj.has_previous %}
						<a href="/{{categoria.slug}}/?{% if busqueda%}q={{busqueda}}&{%endif%}{%if orden%}orden={{orden}}&{%endif%}page={{ page_obj.previous_page_number }}">atrás</a>
					{% endif %}
					<span class="page-current">
						Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
					</span>
					{% if page_obj.has_next %}
						<a href="/{{categoria.slug}}/?{% if busqueda%}q={{busqueda}}&{%endif%}{%if orden%}orden={{orden}}&{%endif%}page={{ page_obj.next_page_number }}">siguiente</a>
					{% endif %}
				{% endif %}
			</span>
		</div>
	</div>
</div>
<div class="container div-result">
	<div>
		<div class="col-md-3">
			<div class="filtros">
				<h3>Filtros</h3>
				<label for="orden">Categoria</label><br>
				<dd class="item">
					<h5 class="item-titulo">{{categoria.categoria}}</h5>
					<a href="{% url 'buscar' %}">x</a><br>
				</dd>
				<a href="#">otras categorias</a>
				<br><br>
				<label for="orden">Orden</label><br>
				<li>
					<a id="drop2" href="#"  data-toggle="dropdown">
						{{ordenActual}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" style="width:100%;">
							{% for a,b,c in ordenList %}
								{% if c != ordenActual %}
									<li>
										<a href="/{{categoria.slug}}/?{% if busqueda %}q={{busqueda}}&{% endif %}orden={{a}}{{ruta}}">
											{{c}}
										</a>
									</li>
								{% endif %}
							{% endfor %}
					</ul>
				</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div id = "resultados">
					{% if habilidades %}
						{% for habilidad in habilidades %}
							<div class="col-xs-12 col-md-12 result-find notice">
								<div class="col-xs-12 col-sm-4 col-md-2 text-center">
									<img src="{{ habilidad.foto.url }}" class="desc-img-2" alt="Responsive image">
								</div>
								<div class="col-xs-12 col-sm-8 col-md-10">
									<div class="col-md-8">
										<h3>
											<strong>
												<a href="/{{categoria.slug}}/{{ habilidad.slug }}/">
													{{ habilidad.nhabilidad }}
												</a>
											</strong>
										</h3>
										<p class="username">
											{{ habilidad.userfirstname }} {{ habilidad.userlastname }}
										</p>
										<p class="text">
											{{ habilidad.descripcion }}
										</p>
									</div>
									<div class="col-md-4">
										<div class="label-descp-2 label-warning col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Calificación">
											<i class="glyphicon glyphicon-star desc3"></i>
											<strong class="desc3">
												{% if habilidad.val_promedio %}
													{{ habilidad.val_promedio }}
												{% else %}
													<span>ninguno</span>
												{% endif %}
											</strong>
										</div>
										<div class="label-descp-2 label-telephone col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Número Telefónico">
											<i class="glyphicon glyphicon-phone-alt desc3"></i> 
											<strong class="desc3">
											{{ habilidad.usuario.celular1 }}
											</strong>
										</div>
										<div class="label-descp-2 label-success col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Solicitudes">
											<i class="glyphicon glyphicon-th-list desc3"></i> 
											<strong class="desc3">
												{% if habilidad.num_solicitudes %}
													{{ habilidad.num_solicitudes }}
												{% else %}
													<span>ninguno</span>
												{% endif %}
											</strong>
										</div>
										<div class="label-descp-2 label-danger col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Precio">
											<i class="glyphicon glyphicon-usd desc3"></i>
											<strong class="desc3">
												{% if habilidad.precio %}
													{{ habilidad.precio }}
												{% else %}
													<span>por acordar</span>
												{% endif %}
											</strong>
										</div>
									</div>
					  			</div>
				  			</div>
						{% endfor %}
					{% else %}
						<p>No hay resultados</p>
						<p>Quieres sugerir una habilidad</p>
					{% endif %}
				</div>
				{% if is_paginated %}
					<div class="pagination">
						<span class="page-links">
							{% if page_obj.has_previous %}
								<a href="/{{categoria.slug}}/?{% if busqueda %}q={{busqueda}}&{% endif %}{%if orden%}orden={{orden}}&{%endif%}page={{ page_obj.previous_page_number }}">atrás</a>
							{% endif %}
							<span class="page-current">
								Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
							</span>
							{% if page_obj.has_next %}
								<a href="/{{categoria.slug}}/?{% if busqueda %}q={{busqueda}}&{% endif %}{%if orden%}orden={{orden}}&{%endif%}page={{ page_obj.next_page_number }}">siguiente</a>
							{% endif %}
						</span>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
	<script>
		$(function(){
			//input de busqueda en focus
			$('#busqueda').focus();

			//Funcion para evento click en boton 'buscar'
			$('#buscar').click(function() {
				palabraBuscada = $('#busqueda').get(0);

				//remplazando caracteres en blanco por '+'
				palabraBuscada = palabraBuscada.value.split(' ').join('+');
				urlActual = window.location.href;

				if (urlActual.indexOf("?") > 0 ){
					parametro = '&q=';
				}
				else{
					parametro = '?q=';
				}

				//Peticion URL
				window.location.href = urlActual+parametro+palabraBuscada;
			});

			//Funcion para evento tecla ENTER
			$('#busqueda').keyup(function(e){
				if (e.keyCode == 13){
					palabraBuscada = $('#busqueda').get(0);

					//remplazando caracteres en blanco por '+'
					palabraBuscada = palabraBuscada.value.split(' ').join('+');
					urlActual = window.location.href;

					if (urlActual.indexOf("?") > 0 ){
						parametro = '&q=';
					}
					else{
						parametro = '?q=';
					}
					//Peticion URL
					window.location.href = urlActual+parametro+palabraBuscada;
				}
			});
		})
	</script>
{% endblock %}