{% extends "index.html" %}
{% load staticfiles %}
{% block head %}
<title>Buscar | OportunidApp</title>
{% endblock %}
{% block content %}
<div class="container div-detail content-info">
	<div class="row habilidad">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="habilidad-titulo">
					{{habilidad.nhabilidad}}
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 habilidad-foto">
				<figure class="habilidad-foto-content">
					<img src="{{habilidad.foto.url}}" alt="{{habilidad.nhabilidad}}" class="desc-img-2 img-thumbnail">
				</figure>
			</div>
			<div class="col-xs-6">
				<div class="row habilidad-info">
					<div class="col-xs-12 ">
						<h4><b>Descripción:</b></h4>
						<p align="justify">{{habilidad.descripcion}}</p>
					</div>

					<ul class="col-xs-12 habilidad-metricas">
						<li class="label-descp-2 label-warning col-xs-6 col-md-6 text-center separador-label" data-toggle="tooltip" data-placement="top" title="Calificación">
							<i class="glyphicon glyphicon-star desc3"></i>
							<strong class="desc3">
								{% if habilidad.val_promedio %}
								{{ habilidad.val_promedio }}
								{% else %}
								<span>ninguno</span>
								{% endif %}
							</strong>
						</li>
						<li class="label-descp-2 label-danger col-xs-6 col-md-6 text-center separador-label " data-toggle="tooltip" data-placement="top" title="Precio">
							<i class="glyphicon glyphicon-usd desc3"></i>
							<strong class="desc3">
								{% if habilidad.precio %}
								{{ habilidad.precio }}
								{% else %}
								<span>por acordar</span>
								{% endif %}
							</strong>
						</li>
					</ul>
				</div>
				<div class="row ofertante">
					<div class="col-xs-12 ofertante-info">
						<h4><b>Información del ofertante:</b></h4>
						<div class="ofertante-nombre">
							<img src="{{habilidad.usuario.foto.url}}" alt="{{habilidad.usuario.}}" width="40">
							{{habilidad.usuario.usuario.first_name}} {{habilidad.usuario.usuario.last_name}}
						</div>
						<ul class="ofertante-datos">
							<li class="label-descp-2 label-telephone col-xs-6 col-md-6 text-center separador-label" data-toggle="tooltip" data-placement="top" title="Número Telefónico">
								<i class="glyphicon glyphicon-phone-alt desc3"></i>
								<strong class="desc3">
									{{ habilidad.usuario.celular1 }}
								</strong>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row preguntas">
		<h3 class="preguntas-titulo">Preguntas</h3>
		<div class="row preguntas-content">
			<div class="row preguntas-nueva">
				<form action="" method="">
					<textarea class="preguntas-texto" name="" id="" rows="1">
					</textarea>
					<input id="preguntar-btn" type="submit" value="Preguntar">
				</form>
			</div>
			<div class="preguntas-otras">
				<li>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repudiandae fuga rem enim minus, recusandae, volitatis.
					</p>
				</li>
				<li>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repudiandae fuga rem enim minus, recusandae, volitatis.
					</p>
				</li>
				<li>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repudiandae fuga rem enim minus, recusandae, volitatis.
					</p>
				</li>
				<li>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repudiandae fuga rem enim minus, recusandae, volitatis.
					</p>
				</li>
			</div>
		</div>
	</div>
	<div class="row sugerencias">
		<h3 class="sugerencias-titulo">Sugerencias de Búsqueda</h3>
		<div class="row">
			{% if recomendados %}
				{% for  recomendado in recomendados %}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="sugerencia">
						<div class="row sugerencia-foto">
							<figure>
								<img src="{{ recomendado.foto.url}}" class="sgr" alt="{{ recomendado.nhabilidad}}">
							</figure>
						</div>
						<div class="row sugerencia-descripcion">
							<h4 class="sugerencia-titulo">
								<a href="#">
									{{ recomendado.nhabilidad}}
								</a>
							</h4>
						</div>
					</div>
				</div>
				{% endfor %}
			{% else %}
				<p>No hay sugerencias para esta búsqueda</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}
{% block scripts %}
	<script>
	$(function() {

		$('#preguntar-btn').click(function(event){
			event.preventDefault();
			is_authenticate();
		});

		function is_authenticate()
		{
			$.ajax({
				url:  '{% url 'is_auth_ajax' %}' ,
				type: 'GET',
				dataType: 'json',
				success : function(json)
				{
					console.log(json);
					if(json.auth == 0){
						abrirModal();
					}
					else{
						enviarPregunta();
					}
				}
			});
		}

		function abrirModal(){
			alert('Abriendo Modal ...');
		}

		function enviarPregunta(){
			alert('Enviando pregunta ...')
		}
	})

		/*
		Cuando presione el boton Preguntar
		si usuario esta loggeado
			- crear la pregunta
			- render de la pregunta creada
			- mostrar mensaje
		no
			abrir modal para logearse
			si se puede loggear
				- crear pregunta
				- reder de la pregunta creada
				- mostrar mensaje
			no
				mostrar mensaje del problema


		function crearPregunta(){
			ajax
				success:function(json){
					render pregunta
					render mensaje
				}
		}

		*/
	</script>
{% endblock scripts %}
