{% extends "template.html" %}
{% load staticfiles %}
<!--

CONTEXTO!

	preguntasRespondidas -> Lista de preguntas respondidas
	preguntasNoRespondidas -> Lista de preguntas sin respuesta

-->

{% block content %}
<div class="page-header">
	<h2>Preguntas que hiciste</h2>
</div>

<div class="row space-tab">
	<ul class="nav nav-tabs" id="tabs" data-tabs="tabs">
		<li role="presentation" class="active">
			<a href="#respondidas" data-toggle="tab">
				Respondidas
			</a>
		</li>
		<li role="presentation" class="">
			<a href="#sin-respuesta" data-toggle="tab">
				No respondidas
			</a>
		</li>
	</ul>
</div>


<div class="row">
	<div class="tab-content">
		<!-- Contenedor PREGUNTAS RESPONDIDAS -->
		<section class="row preguntas tab-pane active" id="respondidas">
			{% for preguntaRespondida in preguntasRespondidas  %}
			<article class="pregunta">
				<p class="textoIntroductorioPregunta"><b>{{preguntaRespondida.ofertante.usuario.get_full_name}}</b> ha respondido tu pregunta en la habilidad <b>{{preguntaRespondida.habilidad}} </b>.</p>
				<div class="contenedorPregunta">
					<p class="preguntaEspecifica">
						<span class="glyphicon glyphicon-comment"></span>
						{{preguntaRespondida.pregunta}}
					</p>
				</div>
				<div class="contenedorPespuesta">

					<span class="respuesta glyphicon glyphicon-check"></span>
					<p class="repuestaEspecifica">
						{{preguntaRespondida.respuesta}}
					</p>
					<p class="fechaPregunta">
						{{preguntaRespondida.fecha}}
					</p>
				</div>


			</article>
			{% empty %}
			<p>No han respondido ninguna de tus preguntas</p>

			{% endfor %}
		</section>
		<!-- Contenedor PREGUNTAS RESPONDIDAS -->

		<!-- Contenedor PREGUNTAS SIN RESPONDER -->

		<section class="row preguntas tab-pane" id="sin-respuesta">
			{% for preguntaNoRespondida in preguntasNoRespondidas  %}
			<article class="pregunta">
				<div class="contenedorPregunta">
					<p class="textoIntroductorioPregunta">Le has preguntadoa a <b>{{preguntaNoRespondida.ofertante.usuario.get_full_name}}</b> en la habilidad <b>{{preguntaNoRespondida.habilidad}} </b>:</p>
					<p class="preguntaEspecifica">
						<span class="glyphicon glyphicon-comment"></span>
						{{preguntaNoRespondida.pregunta}}
					</p>
					<p class="fechaPregunta">
						{{preguntaNoRespondida.fecha}}
					</p>
				</div>


			</article>
			{% empty %}
			<p>Todas tus preguntas han sido respuestas</p>

			{% endfor %}
		</section>
		<!-- Contenedor PREGUNTAS SIN RESPONDER -->
	</div>
</div>
{% endblock content %}
