

<span class="bienvenida h2" style="font-family:fredoka one,cursive; font-size:30px; text-align:center">
	Te han preguntado algo
</span>
<p style="text-align:center; margin:30px 0;"><strong><span style="background-color:rgb(255, 255, 255); color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:small; line-height:15.6000003814697px">&nbsp;</span></strong>
	<strong>
		{{solicitante}} te ha preguntado lo siguiente <br>
		¿{{pregunta}}?
	</strong>
</p>

<p class="textoExplicado" style="text-align: center;">Puedes responderla en el suguiente link.</p>
<p class="center">
	<a href="#" class="linkRespuesta">Ingresar<a>
</p>