@import "landingpage.styl"
@import "template.styl"

//prefixes nib
@import "nib"

vendor-prefixes = webkit o ms moz official
//fin prefixes nib

rojo = #d9534f
verde = #5cb85c
azul = #3498DB

.separador
	background #e8e9eb
	width 90%
	height 1px
	border-radius 2px
	margin 0 auto

.dropdown-menu
	border: 1px solid #e8e9eb !important

.colorRojo
	color #a94442
.colorVerde
	color #3c763d
.colorAzul
	color rgb(79, 98, 142) !important

.relative
	position relative
.absolute
	position absolute
.strong
	font-weight bold
.displayBlock
	display block
.displayNone
	display none
.marginCeroAuto
	margin 0 auto

.btnVerMas
	border 2px dotted rgb(27, 124, 27)

// Inicio datos de Mi Cuenta
.datosPrincipales > p
	border none
	display: inline-block;
	margin-bottom 5px

.bloqueSeparador
	border-bottom 1px dotted gray
	margin 20px

.DatosMiCuenta
	text-align: left;
	.datosPrincipales
		padding-left 10px
		font-size 20px
		color black
	.glyphicon
		margin 10px 10px 10px 0
	.datosInformativosMiCuenta
		margin-left 30px
	.badge
		width 40px
		height auto
		border-radius 5px
	.tituloMiCuenta
		text-align center
		color #555
//Fin datos de Mi Cuenta


.formBusqueda
	width 78%
	margin 0 auto
	margin-top 30px
	margin-bottom 30px
.labelCategoria
	padding 10px
	font-size 13px
	display block
	color white

.listaCategorias > li
	margin 3px
.btn-cancelar
	font-size 16px
	color white
.cursorPointer
	cursor pointer

.padding
	padding 20px

.ofertante-datos ul
	margin 10px 0


.numeroTelefonico
	display inline-block
.numeroTelefonico:after
	content " | "
	margin 0 2px
.numeroTelefonico:last-child:after
	content ""
	margin 0
.numeroTelefonico:first-child:after
	content ": "


//Seccion de preguntas

.moduloPreguntas
	border 1px solid gray
	border-radius 10px
	padding 10px
.preguntar
	padding 20px 0
	background-color gray
	margin-bottom 10px
	border-radius 10px
	.formularioPregunta
		position relative
		width 90%
		margin 0 auto

.pregunta:first-child
	margin-top 10px
.pregunta:last-child
	border 0
.pregunta
	border-bottom 1px solid gray
	margin-bottom: 30px;
	.contenedorPregunta
		.preguntaEspecifica
			vertical-align: middle;
			display inline
	.contenedorPespuesta
		margin-left 20px
		.repuestaEspecifica
			vertical-align: middle;
			display inline-block
	.fechaPregunta
		position relative
		text-align right
		font-size 15px
		color black
.heightPersonalizado
	height initial
.box
	height: 100%;


//formulario de preguntas
.inputPregunta
	border-top-left-radius 10px
	border-bottom-left-radius 10px
	padding-left 10px
	width 70%
	margin 0
	display inline-block
	border none

.preguntar-btn
	border-top-right-radius 10px
	border-bottom-right-radius 10px
	position absolute
	cursor pointer
	background-color #5cb85c
	color black
	width 25%
	margin 0
	display inline-block
	color white
	font-wieght bold
	border none
.preguntar-btn:disabled
	cursor no-drop
	background-color gray
.preguntar-btn:after:disabled
	content "Escriba la pregunta"

//iconos de opciones para las halidades
.iconoOpcionesHabilidad
	margin-right 10px

.inactivarHabilidad:hover
	color #a94442 !important
.activarHabilidad:hover
	color #3c763d !important

.contenedorOpcionesHabilidad
	text-align start
	display table
	margin 0 auto
	font-size 20px
.contenedorOpcionesHabilidad a
	cursor pointer
.contenedorOpcionesHabilidad li
	display inline
.contenedorOpcionesHabilidad li:first-child:after
	content "|"

//Habilidades Sugeridad
.ofertasBusqueda
	overflow hidden
.hoverHabilidad
	display block
	padding 10px
.hoverHabilidad:hover
	background-color #f4f4f4
/////////////////////////////

.formularioLoginPregunta
	width 90%
	margin 40px auto
	input
		padding 20px
		margin 0
		border-radius 10px
	.usuario
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	.contrasena
		border-top-left-radius: 0;
		border-top-right-radius: 0;

.contentWidth
	max-width 1200px
	margin 0 auto

.textJustify
	text-align: justify;

.habilidad__hover
	overflow hidden
	display block

.marginTop
	margin-top: 100px;
.fotoOfertante
	border-radius 50%
.activo
	background-color red !important

.font-verde
	color verde
.font-rojo
	color rojo

h6
	margin 0
	margin-bottom 10px

ul
	list-style none
	margin 0
	padding 0
li
	list-style none

.logo
	margin 0
	padding-top 60px
	padding-bottom 20px
	text-align center

.logo-app
	font-size 17px

.center
	text-align center
.container-logo
	background #F5F5F5
	border-radius 6px
	border 1px solid gainsboro
	margin 0 auto
	max-width 420px
	margin-bottom 30px
	padding 35px
	h6
		margin 0
		padding-bottom 20px
.error-login
	border-radius 5px
	color white
	font-size 16px
	line-height 1.5
	margin-bottom 15px

.error-space
	color rojo
	font-size 16px
	line-height 1.2
	margin-bottom 13px

.underline
	text-decoration underline

.habilidad-item
	margin-bottom 35px

.imgHabilidadSugerida
	width 150px
	height 150px
.desc-img
	width 240px
	height 240px

.desc-img-1
	width 340px
	height 340px

.desc-img-2
	width 300px
	height 180px

.desc-img-4
	width 240px
	height auto

.form-padding
	padding 20px
	color #000

.form-control
	margin-bottom 10px

.form-signin
	max-width 330px
	margin 0 auto
	padding 15px

.form-signin .form-signin-heading,.form-signin .checkbox
	margin-bottom 10px

.form-signin .checkbox
	font-weight normal

.form-signin .form-control
	position relative
	font-size 16px
	height auto
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	padding 10px

.form-signin .form-control:focus
	z-index 2

.form-signin input[type="text"]
	margin-bottom -1px
	border-bottom-left-radius 0
	border-bottom-right-radius 0

.form-signin input[type="password"]
	margin-bottom 10px
	border-top-left-radius 0
	border-top-right-radius 0

//
.form-registry
	max-width 330px
	margin 0 auto
	padding 15px

.form-registry .form-registry-heading,.form-registry .checkbox
	margin-bottom 10px

.form-registry .checkbox
	font-weight normal

.form-registry .form-control
	position relative
	font-size 16px
	height auto
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	padding 10px

.form-registry .form-control:focus
	z-index 2

.form-registry input[type="text"]
	margin-bottom -1px

.form-registry input[type="password"]
	margin-bottom 10px

.account-wall
	margin-top 100px
	background-color #fff
	-moz-box-shadow 0 2px 2px rgba(0,0,0,0.3)
	-webkit-box-shadow 0 2px 2px rgba(0,0,0,0.3)
	box-shadow 0 2px 2px rgba(0,0,0,0.3)
	padding 20px 0 20px
	margin-bottom 100px

.login-title
	color #555
	font-size 18px
	font-weight 400
	display block

.profile-img
	width 96px
	height 96px
	display block
	-moz-border-radius 50%
	-webkit-border-radius 50%
	border-radius 50%
	margin 0 auto 10px

.p-label
	padding 5px

.need-help
	font-size 15px

.new-account
	display block
	margin-top 10px

.body-login
	background-color #2C3E50
	color #f5f5f5

.resultados
	padding 27px 0 0 0


.categoria-item
	padding 0px 15px
	margin-bottom 5px

.categorias-list
	font-size 17px

.label-descp
	width 80%
	margin 10px auto
	padding 5px
	color #fff
	font-size 18px
	border-radius .25em

.label-descp-detalle
	padding 2px
	width 31%
	margin 0 1%
	color #fff
	font-size 18px
	border-radius .25em

.label-descp-2
	border-radius .25em
	color #fff
	font-size 14px
	padding 5px
	width auto

.errorlist
	color rgb(219, 44, 44)
	font-size 15px

.special-img
	padding 5px

.pull
	padding 10px
	margin-bottom 28px

.text-top
	margin-top 10px

.label-telephone
	background #8e44ad
	display: inline-block;

.img-back
	background-image url('../img/fondo.jpg')
	background-position center center
	background-repeat no-repeat
	background-attachment fixed
	background-size cover
	background-color #F5F5F5
	padding 10px

.desc-sign
	margin-top 100px
	padding 30px

.body-sign
	background-color #f5f5f5

.nav-center
	text-align center
	ul.nav
		display inline-block
		li
			display inline
			a
				float left

.label-category
	width 274px
	height 30px
	margin-top -30px
	padding 2px
	color #818181
	font-size 16px
	float right

.label-description
	background-color #CCCCCC

.img-nav
	width 100px

.img-nav-2
	width 30px

.img-profile
	width 180px !important
	height 180px !important
.imgDetalleEdit
	margin-top -100px
	display inline-block
.desc-profile
	background #fff
	padding 20px

.new-profile
	padding 10px

.description
	padding-top 20px

.black
	color #000 !important

.linkCambiarFoto
	cursor pointer
	display: block;

.linkCambiarFoto:hover:after
	content "Cambiar Foto"
	line-height: 200px;
	text-align center
	font-size 30px
	color white
	font-weight bold
	display block
	position absolute
	top 0
	width 100%
	height 100%
	background rgba(0,0,0,.4) !important

.row.panel.panel-default
	transition 0.5s

.row.panel.panel-default:hover
	background #F4F4F4
	cursor pointer
	transition 0.5s

.img-detail
	width 200px !important
	height 140px !important

//Begin

.img-detail-2
	width 240px !important
	height 200px !important

.second
	margin-top 50px

//End

.skill
	margin-top 80px

.edit-photo
	width 150px
	height auto
	padding 10px

.btn-photo
	width 200px
	border 0px
	border-radius 0px

.notice
	background #fff
	padding 10px
	-webkit-box-shadow 0px 4px 10px -9px rgba(0,0,0,0.75)
	-moz-box-shadow 0px 4px 10px -9px rgba(0,0,0,0.75)
	box-shadow 0px 4px 10px -9px rgba(0,0,0,0.75)
	margin-bottom 10px
	color #000

.right-noticie
	padding 10px 10px 30px 10px !important
	margin-bottom -50px

.space
	margin-top 20px
	margin-bottom 50px

.space-tab
	margin-bottom 50px

.padding
	padding 10px

@media(min-width 768px)
	.navbar-nav
		float none

@media (max-width 900px)
	.imgDetalleEdit
		margin-top: 0

.full
	margin-bottom 10px

.rigth-actions-ability
	left 0
	list-style none
	position absolute

.left
	float left

.content-options-habilidad
	margin-left 6px
	position relative

.font-descrip-min
	font-size 12px

.preview-foto-habilidad
	height 195px
	margin-bottom 10px
	figure
		width 80%
		height 100%
		margin 0 auto
	img
		width auto
		height 100%

.hab
	margin-top -15px

.username
	font-size 17px
	color #595959
	margin-top -7px

.nav-tabs
	margin-bottom 5px

.nav-tabs > li.active > a
	background-color #CCCCCC !important
	box-shadow 0px 1px 2px rgba(0, 0, 0, 0.3)
	color #818183 !important
	border-color transparent

.nav-tabs > li > a.btn-success:hover
	background-color #5CB85C
	color #fff

.nav-tabs > li > a.btn-danger:hover
	background-color #D9534F
	color #fff

.nav-tabs > li > a.btn-primary:hover
	background-color #2980B9
	color #fff

.True-state
	background-color #5CB85C
	text-align right
	padding 5px 10px 0px
	color #fff


.photo-detail
	width 300px
	height 180px
	position relative
	top 25px

.hbl-t
	margin-bottom -3px

.paginador
	text-align right

.sgr
	height auto
	width 200px

.controles
	margin-bottom 10px

.controles-paginador
	text-align right

.header-titulo
	border-bottom 3px solid gainsboro
	margin-bottom 10px
.header-busqueda
	margin-top 10px



.filtros
	background-color white
	border-radius 2px
	margin 0 auto
	padding 11px
	width 90%
	h3
		margin-top 0
	h5
		margin 0
	.item
		background-color gainsboro
		position: relative
	.item a
		position: absolute
		right: 8px
		top: 4px
	.item-titulo
		float left
		height 25px
		padding 5px
		width 90%

.breadcrumbs
	li
		float left
		margin-right 15px

.habilidad
	padding-bottom 20px
	//border-bottom 3px solid gainsboro

.habilidad-titulo
	border-bottom 3px solid gainsboro

.habilidad-foto
	height: 300px;
	padding 10px
	text-align center

.habilidad-foto-content
	width: 100%;
	margin: 0;
	height: 100%;
	padding: 0;

.habilidad-info
	padding 10px

.ofertante-info
	color black
	padding 10px
	border-radius 10px
	border 5px dotted rgba(156, 156, 156,1)
	background-color rgba(156, 156, 156,.5)


.ofertante-nombre
	margin-bottom 15px

.preguntas-titulo
	border-bottom 3px solid gainsboro

.preguntas-nueva
	padding 8px 35px
	background-color gainsboro

.preguntas-texto
	border-color gainsboro
	overflow hidden
	resize none
	width 100%

.preguntas-otras
	li
		padding 10px
	p
		margin 0

.sugerencias-titulo
	border-bottom 3px solid gainsboro

.separador-label
	margin-right 5px
	margin-bottom 5px

.sugerencia
	margin 0 auto
	text-align center
	width 90%

.sugerencia-foto
	margin-bottom 5px

.sugerencia-titulo
	font-weight bold
