@import "landingpage.styl"

rojo = #E74C3C
verder = #2ECC71
azul = #3498DB

ul
	list-style none
	margin 0
	padding 0

.logo
	margin 0
	padding-top 60px
	padding-bottom 20px
	text-align center
.center
	text-align center
.container-logo
	background #F5F5F5
	border-radius 6px
	border 1px solid gainsboro
	margin 0 auto
	max-width 420px
	margin-bottom 30px
	padding 35px
	h6
		margin 0
		padding-bottom 20px
.error-login
	border-radius 5px
	color white
	font-size 16px
	line-height 1.5
	margin-bottom 15px

.error-space
	color rojo
	font-size 16px
	line-height 1.2
	margin-bottom 13px

.underline
	text-decoration underline
