{% extends "template.html" %}
{% block head %}
	<title>Habilidades | OportunidApp </title>
{% endblock %}
{% block content %}
<div class="row">
	<div class="full">
		<div class="col-md-12 desc-profile spacing">
			<h2><a href="#" data-toggle="modal" data-target="#myModal">Thomas Jackson <small>te necesita para la habilidad <strong>Carpinteria</strong></small></a></h2>
			<p>Sed nulla risus, ultrices in rutrum nec, condimentum vel tortor. In faucibus mattis metus a vulputate. Phasellus gravida vestibulum ornare. Donec rhoncus finibus pulvinar. Donec pellentesque ipsum ac ipsum elementum, porttitor mollis ex placerat. Vivamus diam tellus, venenatis euismod egestas quis, consequat eget risus.</p>
			<span class="label label-telephone"><i class="glyphicon glyphicon-phone-alt"></i> <strong>3045691239</strong></span>
			<span class="date-need">Miércoles, 15 Agosto 2015</span>
		</div>
		<div class="col-md-12 desc-profile spacing">
			<h2><a href="#" data-toggle="modal" data-target="#myModal">Thania Gil <small>te necesita para la habilidad <strong>Cocina</strong></small></a></h2>
			<p>Sed nulla risus, ultrices in rutrum nec, condimentum vel tortor. In faucibus mattis metus a vulputate. Phasellus gravida vestibulum ornare. Donec rhoncus finibus pulvinar. Donec pellentesque ipsum ac ipsum elementum, porttitor mollis ex placerat. Vivamus diam tellus, venenatis euismod egestas quis, consequat eget risus.</p>
			<span class="label label-telephone"><i class="glyphicon glyphicon-phone-alt"></i> <strong>3128764523</strong></span>
			<span class="date-need">Jueves, 01 Mayo 2015</span>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myModalLabel">Ghonk Gorrizd</h4>
      		</div>
      		<div class="modal-body">
        		<div class="content-modal">
        			<p>¿Desea Aceptar la Solicitud?</p>
        			<div class="accept">
        				<a href="#" class="btn btn-success">Aceptar Te Necesito</a>
        				<a href="#" class="btn btn-danger">Eliminar Te Necesito</a>
        			</div>
        		</div>
      		</div>
    	</div>
  	</div>
</div>
{% endblock %}