  {% extends "template.html" %}
{% block head %}
	<title>Habilidades | OportunidApp </title>
{% endblock %}
{% block content %}
<div class="row">
	<div class="full">
    {%if  necesito %}
      {% for mensaje in necesito %}
  		<div class="col-md-12 desc-profile spacing">
  			<h2>
          <a href="#" data-toggle="modal" data-target="#myModal">
            {{ mensaje.usuarioSolicitante.usuario.first_name}} {{ mensaje.usuarioSolicitante.usuario.last_name}} 
            <small>
              te necesita para la habilidad 
              <strong>
                {{ mensaje.habilidadSolicitada.categoria}}
              </strong>
            </small>
          </a>
        </h2>
        <p>
          {{mensaje.mensaje}}
        </p>
  			<span class="label label-telephone"><i class="glyphicon glyphicon-phone-alt"></i> <strong>{{mensaje.usuarioSolicitante.celular1}}</strong></span>
  			<span class="date-need">{{ mensaje.fecha }}</span>
  		</div>
      {% endfor %}
    {% else %}
      <div class="row text-center">
        <img src="/static/img/not-found.png" class="desc-img">
        <p>Aún no has recibido mensajes.</p>
      </div>
    {% endif %}
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myModalLabel">Ghonk Gorrizd</h4>
      		</div>
      		<div class="modal-body">
        		<div class="content-modal">
        			<p>¿Desea Aceptar la Solicitud?</p>
        			<div class="accept">
        				<a href="#" class="btn btn-success">Aceptar Te Necesito</a>
        				<a href="#" class="btn btn-danger">Eliminar Te Necesito</a>
        			</div>
        		</div>
      		</div>
    	</div>
  	</div>
</div>
{% endblock %}