{% extends "template.html" %}
{% load staticfiles %}
{% block head %}
	<title>Habilidades | OportunidApp </title>
{% endblock %}
{% block content %}
<div class="row skill">
	<div class="col-sm-6 text-center">
		<img src="https://c3.staticflickr.com/3/2841/11512594484_6ab7131cc8_b.jpg" class="img-rounded img-detail">
    	<h3>Name Skill</h3>
	</div>
	<div class="col-sm-6 text-center">
		<div class="text-top col-md-12">
			<div class="label-descp label-warning">
				<i class="glyphicon glyphicon-star desc3"></i> <span class="desc">Puntuacion: </span></a><strong class="desc3">4</strong>
			</div>
		</div>
		<div class="text-top col-md-12">
			<div class="label-descp label-success">
				<i class="glyphicon glyphicon-th-list desc3"></i> <span class="desc">Solicitudes: </span></a><strong class="desc3">3</strong>
			</div>
		</div>
		<div class="text-top col-md-12">
			<div class="label-descp label-danger">
				<i class="glyphicon glyphicon-usd desc3"></i> 
				<span class="desc">Precio: </span></a><strong class="desc3">3</strong>
			</div>
		</div>
	</div>
</div>
<div class="row well">
	<div class="text-center col-sm-12"> 
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla enim sapien, molestie vitae dapibus fringilla, tempor ut metus. Duis nulla metus, interdum eget nisi eu, rutrum ornare nisl. Nunc laoreet, mauris a ullamcorper efficitur, arcu mi porta dolor, eget venenatis ipsum dolor non nisi. Vestibulum volutpat dolor id ipsum volutpat malesuada. Ut arcu dui, commodo ut nibh eu, sollicitudin pharetra purus. Curabitur nulla nulla, tincidunt quis velit id, finibus rutrum lectus. </p>
        </div>
	</div>
</div>
{% endblock %}