{% extends "template.html" %}
{% load staticfiles %}
{% block head %}
	<title>Habilidades | OportunidApp </title>
{% endblock %}
{% block content %}
<div class="row">
	<div class="full col-sm-12">
		<div class="col-md-offset-3">
			<ul class="nav nav-pills">
				<li><a href="#"><i class="glyphicon glyphicon-user desc2"></i>  <span class="desc">Te necesito</span></a></li>
				<li><a href="#"><i class="glyphicon glyphicon-thumbs-up desc2"></i> <span class="desc">Habilidades</span></a></li>
				<li><a href="#"><i class="glyphicon glyphicon-list-alt desc2"></i> <span class="desc">Trabajos</span></a></li>
				<li><a href="#"><i class="glyphicon glyphicon-pushpin desc2"></i> <span class="desc">Solicitudes</span></a></li>
			</ul>
		</div>  
	</div>
</div>
<div class="col-sm-12">
	<div class="well"> 
		<form id="nueva-habilidad-form" method="post">
			<h4>Nueva Habilidad</h4>

			<div class="form-group" style="padding:14px;">
				{{ form.as_p }}
			</div>
			<input type="submit" value="Agregar + " class="btn btn-primary pull-right">
			<ul class="list-inline">
				<li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
			</ul>
		</form>
	</div>
</div>
{% if habilidades %}
	{% for hab in habilidades %}
		<div class="habilidad-item">
			<div class="col-sm-12">
				<div class="row panel panel-default">
					<div class="col-sm-6 text-center">
						<img src="">
					</div>
					<div class="col-sm-6">
						<h3>{{ hab.nhabilidad }}</h3>
						<p>{{ hab.descripcion }}</p>
						<div class="text-center">
							<span class="label label-success">Puntuación: <strong>{{ hab.val_promedio }}</strong></span>
							<span class="label label-success">contrataciones: <strong>{{ hab.num_solicitudes }}</strong></span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}
{% endblock %}
{% block scripts %}
	<script src="{% static 'jsapp/csrf_load.js' %}"></script>
	<script>
		$(function() {
			$('#nueva-habilidad-form').on('submit', function(event){
				event.preventDefault();
				nuevaHabilidad();
			});
			function nuevaHabilidad () {
				$.ajax({
					url: '/habilidades/nueva/',
					type: "POST",
					dataType: 'json',
					data: {
						categoria: $('#id_categoria').val(),
						nhabilidad: $('#id_nhabilidad').val(),
						descripcion: $('#id_descripcion').val(),
						precio: $('#id_precio').val(),
					},
					success: function(json){
						//var data = jQuery.parseJSON(json);
						console.log(json);
					},
				}); 
			};
		});
	</script>
{% endblock %}