{% extends "index.html" %}
{% load staticfiles %}
{% block head %}
<title>Inicio | OportunidApp</title>
{% endblock %}
{% block content %}
<div class="container first-content">
	<div class="row text-center">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
	    <section class="info-square">
	      <h3 class="h3-align">Busca</h3>
	      <i class="flaticon-magnifier13 icon-pres"></i>
	      <p class="p-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed sollicitudin nibh.</p>
	    </section>
	  </div>   
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
	    <section>
	      <img src="{% static 'img/logo.png' %}"/>
	      <h3 class="h3-align">Date una OportunidApp</h3>
	    </section>
	  </div>   
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
	    <section class="info-square">
	      <h3 class="h3-align">Ofrece</h3>
	      <i class="flaticon-newspaper11 icon-pres"></i>
	      <p class="p-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed sollicitudin nibh.</p>
	    </section>
	  </div>     
	</div>
</div>
<div class="content-info">
	<div class="container">
	  <h3 class="text-left">Como Funciona</h3>
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
	    <div class="row">
	      <span class="text-center flaticon-number41 number-icon col-xs-12 col-sm-1 col-md-1 col-lg-1"></span>
	      <p class="text col-xs-12 col-sm-11 col-md-11 col-lg-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vestibulum neque vitae tellus cursus, et pulvinar ex mollis. Nunc rhoncus ac nunc a suscipit. Duis eget porta quam. Donec eu malesuada augue. Integer non lectus non odio dapibus consequat. Etiam sodales ipsum sed fringilla facilisis.</p>
	    </div>
	    <div class="row">
	      <span class="text-center flaticon-number40 number-icon col-xs-12 col-sm-1 col-md-1 col-lg-1"></span>
	      <p class="text col-xs-12 col-sm-11 col-md-11 col-lg-11">Cras ut urna magna. Proin vel blandit quam, ac efficitur justo. Aliquam id euismod ante. Aenean imperdiet porta mi at egestas. Nunc ultricies mauris placerat neque ornare molestie ac sit amet lorem. Quisque eu risus quis neque ultrices porta.</p>
	    </div>
	    <div class="row">
	      <span class="text-center flaticon-number37 number-icon col-xs-12 col-sm-1 col-md-1 col-lg-1"></span>
	      <p class="text col-xs-12 col-sm-11 col-md-11 col-lg-11">Praesent vulputate nunc et arcu imperdiet, eu venenatis urna luctus. Nam leo tortor, blandit tincidunt congue eget, vulputate placerat tellus. Curabitur purus lectus, suscipit ac pulvinar non, rutrum et augue.</p>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
	    <div class="row text-center">
	      <img src="{% static 'img/computer.png' %}" class="img-responsive"/>
	    </div>
	  </div>
	</div>
</div>
<div class="content-info-2 text-center">
	<div class="container">
	  <h3>Testimonios</h3>
	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
	    <div class="row">
	      <img src="{% static 'img/avatar/70.jpg' %}" class="img-responsive-2 img-circle"/>
	      <h4>Dianne Powell</h4>
	      <p class="text">Curabitur magna diam, facilisis id lobortis quis, maximus eget eros. In id lorem id neque viverra rhoncus a a lorem.</p>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
	    <div class="row">
	      <img src="{% static 'img/avatar/69.jpg' %}" class="img-responsive-2 img-circle"/>
	      <h4>Harper Carlson</h4>
	      <p class="text">Curabitur magna diam, facilisis id lobortis quis, maximus eget eros. In id lorem id neque viverra rhoncus a a lorem.</p>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
	    <div class="row">
	      <img src="{% static 'img/avatar/22.jpg' %}" class="img-responsive-2 img-circle"/>
	      <h4>Alexander Brooks</h4>
	      <p class="text">Curabitur magna diam, facilisis id lobortis quis, maximus eget eros. In id lorem id neque viverra rhoncus a a lorem.</p>
	    </div>
	  </div>
	</div>
</div>
<div class="content-info text-center">
	<div class="container">
	  <h3>Nos Apoyan</h3>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
	    <div class="row">
	      <img src="{% static 'img/grey.jpg' %}" class="img-responsive-2 img-circle img-redi"/>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}