{% extends "index.html" %}
{% block head %}
	<title>Ingresar | Oportunidapp</title>
{% endblock %}
{% block content  %}
	<body>
		<h3 class="logo">
			<a href="/">
				<span class="blue-color">Oportunid</span>
				<span class="green-color">App</span>
			</a>
		</h3>
		
		<div class="container center">
			<div class="container-logo">
				<h6>Bienvenido!</h6>
				<form action="" method="post">
					{% csrf_token %}
					<div class="error-space">
						{{ form.non_field_errors.as_ul|cut:"*" }}
						{{ form.username.errors.as_ul|cut:"*" }}
						{{ form.password.errors.as_ul|cut:"*" }}
					</div>
					 <div class="form-group">
						{{ form.username }}
					 </div>
					 <div class="form-group">
					 	{{ form.password }}
					 </div>
					<input class="btn btn-success btn-lg btn-block" type="submit" value="Ingresar">
				</form>
			</div>
			<a href="{% url 'signup' %}">No tienes cuenta? <span class="blue-color underline">Registrate aqui!</span></a><br>
			<a href="#">olvido su contraseña?</a>
		</div>
	</body>
{% endblock %} 
</html>