{% extends "index.html" %}
{% block head %}
	<title>Ingresar | Oportunidapp</title>
{% endblock %}
{% block content  %}
	<body class="body-login">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-md-offset-4">
					<div class="account-wall">
						<h3 class="text-center">
							<a href="/">
								<span class="blue-color">Oportunid</span><span class="green-color">App</span>
							</a>
						</h3>
						<form action="" method="post" class="form-signin text-center">
							{% csrf_token %}
							{{ form.non_field_errors.as_ul|cut:"*" }}
							{{ form.username.errors.as_ul|cut:"*" }}
							{{ form.username }}
			                {{ form.password }}
			                {{ form.password.errors.as_ul|cut:"*" }}
							<input class="btn btn-success btn-lg btn-block" type="submit" value="Ingresar">
							<a href="{% url 'signup' %}" class="need-help">No tienes cuenta? <span class="blue-color">Registrate aqui!</span></a><br>
							<a href="#" class="need-help">olvido su contraseña?</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
{% endblock %} 
</html>