{% extends "template.html" %}
{% load staticfiles %}
{% block head %}
	<title>Habilidades | OportunidApp </title>
{% endblock %}
{% block content %}
<div class="row">
	<div class="full col-sm-12">
		<div class="nav-center">
			<ul class="nav nav-pills">
				<li><a href="#"><i class="glyphicon glyphicon-user desc2"></i>  <span class="desc">Te necesito</span></a></li>
				<li class="active"><a href="#"><i class="glyphicon glyphicon-thumbs-up desc2"></i> <span class="desc">Habilidades</span></a></li>
				<li><a href="#"><i class="glyphicon glyphicon-list-alt desc2"></i> <span class="desc">Trabajos</span></a></li>
				<li><a href="#"><i class="glyphicon glyphicon-pushpin desc2"></i> <span class="desc">Solicitudes</span></a></li>
			</ul>
		</div>  
	</div>
</div>
{% endblock %}