{% extends "index.html" %}
{% block head %}
	<title>Registro | Oportunidapp</title>
	<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
	<script>
   		webshims.setOptions('forms-ext', {types: 'date'});
		webshims.polyfill('forms forms-ext');
	</script>
	<style>
		.errorlist{
			color: #db2c2c;
			font-size: 15px;
			position: absolute;
			z-index: 2;
			top: 20px;
			width: 100%;
		}
	</style>
{% endblock %}
{% block content  %}
<body class="body-login">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-8 col-lg-8">
				<div class="account-wall">
					<h3 class="text-center">
						<a href="/">
							<span class="blue-color">Oportunid</span><span class="green-color">App</span>
						</a>
					</h3>
					<form action="" method="post" class="text-center form-padding">
						{% csrf_token %}
						<div class="form-group col-md-6">
							<label>Nombre Completo:</label>						
							{% if form.name.errors %}
								{{ form.name.errors }}
							{% endif%}
							{{  form.name }}
						</div>
						<div class="form-group col-md-6">
							<label>Apellidos:</label>						
							{% if form.lastname.errors %}
								{{ form.lastname.errors }}
							{% endif%}
							{{  form.lastname }}
						</div>
						<div class="form-group col-md-6">
							<label>Usuario:</label>
							{% if form.username.errors %}
								{{ form.username.errors }}
							{% endif%}						
							{{  form.username }}
							{{ form.username.errors.as_ul|cut:"*" }}
						</div>
						<div class="form-group col-md-6">
							<label>Correo Electrónico:</label>
							{% if form.email.errors %}
								{{ form.email.errors }}
							{% endif%}	
							{{  form.email }}
							{{ form.email.errors.as_ul|cut:"*" }}
						</div>
						<div class="form-group col-md-6">
							<label>Contraseña:</label>
							{% if form.password.errors %}
								{{ form.password.errors }}
							{% endif%}
							{{  form.password }}
						</div>
						<div class="form-group col-md-6">
							<label>Fecha Nacimiento:</label>
							{% if form.fnacimiento.errors %}
								{{ form.fnacimiento.errors }}
							{% endif%}						
							{{  form.fnacimiento }}
						</div>
						<div class="form-group col-md-6">
							<label>Sexo:</label>						
							{{  form.genero }}
						</div>
						<div class="form-group col-md-6">
							<label>Numero Celular:</label>
							{% if form.celular.errors %}
								{{ form.celular.errors }}
							{% endif%}							
							{{  form.celular }}
						</div>
						<input class="btn btn-success btn-lg btn-block" type="submit" value="Registrarme">
					</form>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<div class="desc-sign">
					<h4>Registrate</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et lectus eget nibh pretium porta non vel quam. Proin varius lacus ac neque interdum, sed varius arcu ornare.</p>
					<p>Suspendisse vel rutrum magna. Praesent sollicitudin turpis ut felis consequat, sed luctus felis consectetur. Maecenas iaculis ipsum a metus tincidunt, eget eleifend sem semper.</p>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}