{% extends "index.html" %}

{% block head %}
	<title>Registro | Oportunidapp</title>
{% endblock %}
{% block content  %}
<body class="body-login">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-10 col-md-offset-1">
				<div class="account-wall">
					<h3 class="text-center">
						<a href="/">
							<span class="blue-color">Oportunid</span><span class="green-color">App</span>
						</a>
					</h3>
					<form action="" method="post" class="text-center form-padding">
						{% csrf_token %}
						<div class="form-group col-md-6">
							<label>Nombre Completo:</label>						
							{{  form.name }}
						</div>
						<div class="form-group col-md-6">
							<label>Apellidos:</label>						
							{{  form.lastname }}
						</div>
						<div class="form-group col-md-6">
							<label>Usuario:</label>						
							{{  form.username }}
						</div>
						<div class="form-group col-md-6">
							<label>Correo Electrónico:</label>						
							{{  form.email }}
						</div>
						<div class="form-group col-md-6">
							<label>Contraseña:</label>						
							{{  form.password }}
						</div>
						<div class="form-group col-md-6">
							<label>Fecha Nacimiento:</label>						
							{{  form.fnacimiento }}
						</div>
						<div class="form-group col-md-6">
							<label>Sexo:</label>						
							{{  form.genero }}
						</div>
						<div class="form-group col-md-6">
							<label>Numero Celular:</label>						
							{{  form.celular }}
						</div>
						<input class="btn btn-success btn-lg btn-block" type="submit" value="Registrarme">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}