{% extends "base_int.html" %}

{% block content %}
<body class="body-login">
	<div class="container">
		<h4>
			Restablecimiento de contraseña exitoso
		</h4>
		<p>
			Le hemos enviado por correo electrónico sus instrucciones para restablecer la contraseña a la dirección de correo que indicó. Debería recibirlas en breve.

			Si no recibe un correo, por favor asegúrese que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.
		</p>
	</div>
</body>
{% endblock content %}