<span class="bienvenida h2" style="font-family:fredoka one,cursive; font-size:30px; text-align:center">
	{{usuario_de_respuesta}} Ha respondido tu pregunta
</span>
<p style="text-align:center; margin:30px 0;"><strong><span style="background-color:rgb(255, 255, 255); color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:small; line-height:15.6000003814697px">&nbsp;</span></strong>
	<strong>
		{{pregunta}}?
	</strong>
</p>
<p class="textoExplicado" style="text-align: center;">
	{{respuesta}}
</p>