{% extends "index.html" %}
{% load staticfiles %}
{% block head %}
<title>Buscar | OportunidApp</title>
{% endblock %}
{% block content %}
<body class="body-img">
	<div class="container div-find">
		<div class="row text-center">
		    <h2>Encuentra la persona correcta para tu trabajo</h2>
	    	<!--<form class="form-find">-->
	    		<div class="row space">
		    		<div class="col-md-6">
			    		<div class="col-md-11">
			    			<div class="form-group">
								<label for="busqueda">Busca</label>
				    			<div class="input-group">
					    			<input id="busqueda" name="busqueda" type="text" class="form-control" placeholder="¿Que Estas Buscando?" autocomplete="off">
									<span class="input-group-btn">
										<button class="btn btn-block btn-find" id="buscar" type="button">Buscar</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-11">	
							<div class="form-group">
								<label for="categoria">Categoría</label>
								<select name="categoria" id="categoria" class="form-control">
									<option disabled selected value="0">Categorías</option>
									{% for category in categoria %}                         
										<option value="{{ category.id }}">{{ category.categoria }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-11">	
							<div class="form-group">
								<label for="orden">Orden</label>
								<select name="orden" id="orden" class="form-control">
									<option disabled selected>Ordenar por</option>
									<option value="1">Mas solicitudes</option>
									<option value="2">Mas valorados</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			<!--</form>-->
		</div>
	</div>
	<div class="container div-result">
		<div class="container">
			<div class="row">
				<div class="col-md-12"><!--
					<a href="#" class="clear-tag" id="clear">Limpiar Todo</a>-->
					<div class="tag-show">
					</div>
				</div>
				<div id = "resultados">
					{%verbatim%}
					<script id="resultHabilidadesSearch" type="text/x-handlebars-template">
						{{#if this}}
							{{#each this }}
								<div class="col-xs-12 col-md-12 result-find notice">
									<div class="col-xs-12 col-sm-4 col-md-2 text-center">
										<img src="/media/{{ this.foto }}" class="desc-img-2" alt="Responsive image">
									</div>
									<div class="col-xs-12 col-sm-8 col-md-10">
										<div class="col-md-8">
											<h3><strong><a href="/buscar/{{ this.slug }}/{{ this.habilidad_id }}">{{ this.nhabilidad }}</a></strong></h3>
											<p class="username">{{ this.userfirstname }} {{ this.userlastname }}</p>
											<p class="text">{{ this.descripcion }}</p>
										</div>
										<div class="col-md-4">
											<div class="label-descp-2 label-warning col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Calificación">
												<i class="glyphicon glyphicon-star desc3"></i></a> <strong class="desc3">{{ this.habilidad_val }}</strong>
											</div>
											<div class="label-descp-2 label-telephone col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Número Telefónico">
												<i class="glyphicon glyphicon-phone-alt desc3"></i> <strong class="desc3">{{ this.userphone }}</strong>
											</div>
											<div class="label-descp-2 label-success col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Solicitudes">
												<i class="glyphicon glyphicon-th-list desc3"></i> <strong class="desc3">0</strong>
											</div>
											<div class="label-descp-2 label-danger col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Precio">
												<i class="glyphicon glyphicon-usd desc3"></i> <strong class="desc3">0</strong>
											</div>
										</div>
						  			</div>
					  			</div>
				  			{{/each}}
				  			<!--<nav class="text-center">
							  	<ul class="pagination">
							    	<li>
							      		<a href="#" aria-label="Previous">
							        		<span aria-hidden="true">&laquo;</span>
							      		</a>
							    	</li>
							    	<li class="active"><a href="#">1</a></li>
							    	<li><a href="#">2</a></li>
							    	<li><a href="#">3</a></li>
							    	<li><a href="#">4</a></li>
							    	<li><a href="#">5</a></li>
							    	<li>
							      		<a href="#" aria-label="Next">
							        		<span aria-hidden="true">&raquo;</span>
							      		</a>
							    	</li>
							  	</ul>
							</nav>-->
				  		{{else}}
				  			<span>No hay resultados</span>
				  		{{/if}}
					</script>
					{%endverbatim%}
				</div>
				<div class="row">
					<button id="ver-mas" class="btn col-xs-12 col-sm-12 col-md-12 col-lg-12">Ver más</button>
				</div>
			</div>
		</div>
	</div>   
</body>
{% endblock %}

{% block scripts %}
	<script src="{% static 'jsapp/csrf_load.js' %}"></script>
	<script src="{% static 'jslibraries/jquery.autocomplete.min.js' %}"></script>
	<script>

		function removerTag (elemento) {
			var tag = $(elemento).parent();
			tag.remove();
			quitarParametros(tag);
		}
	//$(function() {
		var PARAMETROS = new Array();
		var PAGE = 1;
		PARAMETROS['page'] = PAGE;

		var sourceHabilidadesSearch = $('#resultHabilidadesSearch').html();
		var templateHabilidadesSearch = Handlebars.compile(sourceHabilidadesSearch);
		buscar(PARAMETROS);

		$('#busqueda').focus();
		$('#categoria').change(function(){
			crearTag(this.options[this.selectedIndex].text,'categoria-tag');
			PARAMETROS['page'] = 1;
			agregarParametros(this);
			this.value=0;
		})
		$('#buscar').click(function() {
			busquedaInput = $('#busqueda').get(0);
			crearTag(busquedaInput.value,'busqueda-tag');
			PARAMETROS['page'] = 1;
			agregarParametros(busquedaInput);
			busquedaInput.value = '';
		})
		$('#busqueda').keyup(function(e){
			if (e.keyCode == 13){
				busquedaInput = $('#busqueda').get(0);
				crearTag(busquedaInput.value,'busqueda-tag');
				PARAMETROS['page'] = 1;
				agregarParametros(busquedaInput);
				busquedaInput.value = '';
			}
		});
		$('#orden').change(function(){
			agregarParametros(this);
		});
		$('#ver-mas').click(function(){
			PAGE+=1;
			PARAMETROS['page']=PAGE;
			buscar(PARAMETROS);
		});

		function agregarParametros(elemento){
			PARAMETROS[elemento.name] = elemento.value;
			buscar(PARAMETROS);
		}
		function quitarParametros(elemento){
			name = elemento.attr('data-value');
			name1 = name.split('-');
			PARAMETROS[name1[0]] = '';
			PARAMETROS['page'] = 1;	
			buscar(PARAMETROS);
		}

		function crearTag(texto, tipo){
			if($('#'+tipo).attr('id')){
				$('#'+tipo).get(0).remove();
				crearTag(texto, tipo);
			}
			else
			{
				if(texto != ''){
					$('.tag-show').append('<span class="tag label label-success" id="'+tipo+'" data-value="'+tipo+'">'+texto+' <strong>|</strong><a class="remove remove-tag glyphicon glyphicon-remove" onclick=removerTag(this)></a></span>');
				}
				$('#clear').show();
			}
		}

		function buscar(parametros){
			parametros['format'] = 'json';
			$.ajax({
				url: '{% url 'resultados' %}',
				type: 'GET',
				data: {
					format: parametros['format'],
					categoria: parametros['categoria'],
					busqueda: parametros['busqueda'],
					orden: parametros['orden'],	
					page: parametros['page'],
				},
				success:function(json){
					buildHabilidadesSearch = templateHabilidadesSearch (json);
					$('#resultados').html(buildHabilidadesSearch);
				}
			});
		}
		//})
	</script>
{% endblock %}