{% extends "index.html" %}
{% load staticfiles %}
{% block head %}
<title>Buscar | OportunidApp</title>
{% endblock %}
{% block content %}
<body class="body-img">
	<div class="container div-find">
		<div class="row text-center">
		    <h4>Encuentra Personas para tu Solicitud</h4>
	    	<form class="form-find">
	    		<div class="row space">
		    		<div class="col-md-12">
			    		<div class="col-md-8 col-md-offset-2 input-group">
			    			<input id="search-word" type="text" class="form-control text-center" placeholder="¿Que Estas Buscando?">
						    <span class="input-group-btn">
						    	<button class="btn btn-block btn-lg btn-find" id="show" type="button">Buscar</button>
						    </span>
			    		</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="col-md-11">	
							<select name="categoria" id="select-filter-1" class="form-control">
								<option>Seleccione una Categoría</option>
								{% for category in categorias %}                         
									<option value="{{ category.id }}">{{ category.categoria }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="col-md-11">	
							<select name="orden" id="select-filter-2" class="form-control">
								<option>Seleccione un Ordenamiento</option>
								<option value="1">Ordenar por Solicitudes</option>
								<option value="2">Ordenar por Valor Promedio</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="col-md-11">	
							<select name="select3" id="select-filter-3" class="form-control">
								<option>Seleccione un Elemento</option>
								<option value="1">7</option>
								<option value="2">8</option>
								<option value="3">9</option>
							</select>
						</div>
					</div>
				</div>
	    	</form>
		</div>
	</div>
	<div class="content-info">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="left">
						<div class="col-xs-6 col-md-12">
							<div class="list-group categorias-list text-center">
								{% for categoria in categorias %}
									<a id="{{ categoria.pk }}" class="categoria-item ">{{ categoria.categoria }}</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<a href="#" class="clear-tag" id="clear">Limpiar Todo</a>
					<div class="tag-show">
						<span class="tag label label-success">Ole <a href="#" class="remove glyphicon glyphicon-remove" onclick="RemoveElement(event)"></a></span>
					</div>
				</div>
				<div id = "resultados">
					{%verbatim%}
					<script id="resultHabilidadesSearch" type="text/x-handlebars-template">
						{{#if this}}
							{{#each this }}
								<div class="col-xs-12 col-md-12 result-find notice">
									<div class="col-xs-12 col-sm-4 col-md-2 text-center">
										<img src="/media/{{ this.foto }}" class="desc-img-2" alt="Responsive image">
									</div>
									<div class="col-xs-12 col-sm-8 col-md-10">
										<div class="col-md-8">
											<p><strong><a href="/Buscar-category/">{{ this.userfirstname }} {{ this.userlastname }}</a></strong></p>
											<p class="hab">habilidad</p>
											<p class="text">{{ this.descripcion }}</p>
										</div>
										<div class="col-md-4">
											<div class="label-descp-2 label-warning col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Calificación">
												<i class="glyphicon glyphicon-star desc3"></i></a> <strong class="desc3">{{ this.habilidad_val }}</strong>
											</div>
											<div class="label-descp-2 label-telephone col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Número Telefónico">
												<i class="glyphicon glyphicon-phone-alt desc3"></i> <strong class="desc3">{{ this.userphone }}</strong>
											</div>
											<div class="label-descp-2 label-success col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Solicitudes">
												<i class="glyphicon glyphicon-th-list desc3"></i> <strong class="desc3">0</strong>
											</div>
											<div class="label-descp-2 label-danger col-xs-6 col-md-6 text-center" data-toggle="tooltip" data-placement="top" title="Precio">
												<i class="glyphicon glyphicon-usd desc3"></i> <strong class="desc3">0</strong>
											</div>
										</div>
						  			</div>
					  			</div>
				  			{{/each}}
				  		{{else}}
				  			<span>No hay resultados</span>
				  		{{/if}}
					</script>
					{%endverbatim%}
				</div>
			</div>
		</div>
	</div>   
</body>
{% endblock %}

{% block scripts %}
	<script src="{% static 'jsapp/csrf_load.js' %}"></script>
	<script src="{% static 'jslibraries/jquery.autocomplete.min.js' %}"></script>
	<script>
		var busqueda = new Array();
		function RemoveElement(event){
			event.preventDefault();
			$(this).parents().remove();
		}
		function show_tag(text, type){
			$('.tag-show').append('<span class="tag label label-success" id="'+type+'">'+text+' <a href="#" class="remove glyphicon glyphicon-remove" onclick="RemoveElement(event)"></a></span>');
		}
		$('select').change(function(){
			id = $(this).attr('id');
			text = $('#'+id+' option:selected').text();
			value = $('#'+id+' option:selected').val();
			if(id == 'select-filter-2'){
				type = 'orden';
				busqueda['orden'] = value;
			}else{
				type = value;
				busqueda['categoria'] = text;
			}
			$('#'+type).remove();
			show_tag(text, type);
			buscar();
		});
		$('#clear').click(function(e){
			e.preventDefault();
			$('.tag').remove();
		});
		$('#show').click(function(e){
			text = $('#search-word').val();
			if(text != ""){
				show_tag(text);
				busqueda['busqueda'] = text;
				buscar();
			}else{
				alert("Escriba una Palabra a Buscar");
				$('#search-word').focus();
			}
		});
		$('.categoria-item').on('click',function(e){
			var activo = $(this).closest(".categorias-list").children(".active");
			activo.removeClass("active");
			$(e.target).addClass("active");
			buscarCategoria(e.target.id);
		});
		var sourceHabilidadesSearch = $('#resultHabilidadesSearch').html();
		var templateHabilidadesSearch = Handlebars.compile(sourceHabilidadesSearch);
		function buscar(){
			console.log(busqueda['categoria']);
		}
		function buscarCategoria(categoria_id){
			$.ajax({
				url: '{% url 'personasListar' %}',
				type: "GET",
				data: 
				{ 
					categoria: categoria_id,
				},
				beforeSend: function(){
					//var target = document.getElementById('foo');
					//spinner = new Spinner().spin(target);
				},
				success:function(json){
					buildHabilidadesSearch = templateHabilidadesSearch (json);
					$('#resultados').html(buildHabilidadesSearch);
				},
			});
		}
	</script>
{% endblock %}