{% extends "index.html" %}
{% load staticfiles %}
{% block head %}
<title>Buscar | OportunidApp</title>
{% endblock %}
{% block content %}
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid col-xs-12 col-sm-12 col-md-8 col-lg-8">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        
	      </button>
	      <a class="navbar-brand" href="/"><span class="blue-color">Oportunid</span><span class="green-color">App</span></a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-left">
	        <li><a href="#">Como Funciona?</a></li>
	        <li><a href="#">Testimonios</a></li>
	        <li><a href="#">Nos Apoyan</a></li>
	      </ul>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	    <ul class="nav navbar-nav navbar-right nav-align col-xs-12 col-sm-12">
	      <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center"><a href="{% url 'login' %}" class="blue-color-2">Entrar</a></li>
	      <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center"><a href="{% url 'signup' %}" class="registry">Registro</a></li>
	    </ul>
	  </div>
	</nav>
	<div class="container div-find">
		<div class="row text-center">
		    <h4>Integer facilisis tortor a pharetra porta.</h4>
	    	<form class="form-find">
	    		<div class="col-md-8 col-md-offset-2 input-group">
	    			<input id="search-word" type="text" class="form-control text-center" placeholder="Que Buscas?">
				    <span class="input-group-btn">
				    	<button class="btn btn-block btn-lg btn-find" type="button">Buscar</button>
				    </span>
	    		</div>	
	    	</form>
		</div>
	</div>
	<div class="content-info">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-lg-3">
					<div class="left">
						<div class="col-xs-6 col-md-12">
							<h6>Categoria:</h6>
							<ul class="list-category">
								<li><a href="#">Suspendisse</a></li>
								<li><a href="#">Porta</a></li>
								<li><a href="#">Sapien</a></li>
								<li><a href="#">Ac</a></li>
								<li><a href="#">Omare</a></li>
							</ul>
						</div>
						<div class="col-xs-6 col-md-12">
							<h6>Precio:</h6>
							<ul class="list-category">
								<li><a href="#">$15 - $20</a></li>
								<li><a href="#">$20 - $255</a></li>
								<li><a href="#">$25 - $30</a></li>
								<li><a href="#">$30 - $35</a></li>
								<li><a href="#">$35 - $40</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="col-xs-12 col-md-12 result-find">
						<div class="col-xs-12 col-sm-3 col-md-3 text-center">
		  					<img src="https://randomuser.me/api/portraits/med/men/10.jpg" class="desc-img-2 img-rounded" alt="Responsive image">
		  				</div>
		  				<div class="col-xs-12 col-sm-9 col-md-9">
		  					<h5>Reginald Lowe</h5>
		  					<p class="text">Suspendisse fermentum erat metus, vitae vehicula leo malesuada vitae. Morbi a augue lorem. Ut quis molestie lorem. Nulla sed tempus sapien.</p>
		  					<div class="label-descp-2 label-warning col-xs-6 col-md-6 text-center">
								<i class="glyphicon glyphicon-star desc3"></i></a><strong class="desc3"> 3</strong>
							</div>
							<div class="label-descp-2 label-telephone col-xs-6 col-md-6 text-center">
								<i class="glyphicon glyphicon-phone-alt desc3"></i><strong class="desc3"> (523)-793-7352</strong>
							</div>
			  			</div>
		  			</div>
		  			<div class="col-xs-12 col-md-12 result-find">
						<div class="col-xs-12 col-sm-3 col-md-3 text-center">
		  					<img src="https://randomuser.me/api/portraits/med/women/51.jpg" class="desc-img-2 img-rounded" alt="Responsive image">
		  				</div>
		  				<div class="col-xs-12 col-sm-9 col-md-9">
		  					<h5>Addison Crawford</h5>
		  					<p class="text">Suspendisse fermentum erat metus, vitae vehicula leo malesuada vitae. Morbi a augue lorem. Ut quis molestie lorem. Nulla sed tempus sapien.</p>
		  					<div class="label-descp-2 label-warning col-xs-6 col-md-6 text-center">
								<i class="glyphicon glyphicon-star desc3"></i></a><strong class="desc3"> 3</strong>
							</div>
							<div class="label-descp-2 label-telephone col-xs-6 col-md-6 text-center">
								<i class="glyphicon glyphicon-phone-alt desc3"></i><strong class="desc3"> (523)-793-7352</strong>
							</div>
			  			</div>
		  			</div>
		  			<div class="col-xs-12 col-md-12 result-find">
						<div class="col-xs-12 col-sm-3 col-md-3 text-center">
		  					<img src="https://randomuser.me/api/portraits/med/men/58.jpg" class="desc-img-2 img-rounded" alt="Responsive image">
		  				</div>
		  				<div class="col-xs-12 col-sm-9 col-md-9">
		  					<h5>Tony Hunt</h5>
		  					<p class="text">Suspendisse fermentum erat metus, vitae vehicula leo malesuada vitae. Morbi a augue lorem. Ut quis molestie lorem. Nulla sed tempus sapien.</p>
		  					<div class="label-descp-2 label-warning col-xs-6 col-md-6 text-center">
								<i class="glyphicon glyphicon-star desc3"></i></a><strong class="desc3"> 3</strong>
							</div>
							<div class="label-descp-2 label-telephone col-xs-6 col-md-6 text-center">
								<i class="glyphicon glyphicon-phone-alt desc3"></i><strong class="desc3"> (523)-793-7352</strong>
							</div>
			  			</div>
		  			</div>
		  			<div class="col-xs-12 col-md-12 result-find">
						<div class="col-xs-12 col-sm-3 col-md-3 text-center">
		  					<img src="https://randomuser.me/api/portraits/med/women/53.jpg" class="desc-img-2 img-rounded" alt="Responsive image">
		  				</div>
		  				<div class="col-xs-12 col-sm-9 col-md-9">
		  					<h5>Lydia Garrett</h5>
		  					<p class="text">Suspendisse fermentum erat metus, vitae vehicula leo malesuada vitae. Morbi a augue lorem. Ut quis molestie lorem. Nulla sed tempus sapien.</p>
		  					<div class="label-descp-2 label-warning col-xs-6 col-md-6 text-center">
								<i class="glyphicon glyphicon-star desc3"></i></a><strong class="desc3"> 3</strong>
							</div>
							<div class="label-descp-2 label-telephone col-xs-6 col-md-6 text-center">
								<i class="glyphicon glyphicon-phone-alt desc3"></i><strong class="desc3"> (523)-793-7352</strong>
							</div>
			  			</div>
		  			</div>
		  			<div class="col-xs-12 col-md-12 result-find">
						<div class="col-xs-12 col-sm-3 col-md-3 text-center">
		  					<img src="https://randomuser.me/api/portraits/med/women/50.jpg" class="desc-img-2 img-rounded" alt="Responsive image">
		  				</div>
		  				<div class="col-xs-12 col-sm-9 col-md-9">
		  					<h5>Lydia Garrett</h5>
		  					<p class="text">Suspendisse fermentum erat metus, vitae vehicula leo malesuada vitae. Morbi a augue lorem. Ut quis molestie lorem. Nulla sed tempus sapien.</p>
		  					<div class="label-descp-2 label-warning col-xs-6 col-md-6 text-center">
								<i class="glyphicon glyphicon-star desc3"></i></a><strong class="desc3"> 3</strong>
							</div>
							<div class="label-descp-2 label-telephone col-xs-6 col-md-6 text-center">
								<i class="glyphicon glyphicon-phone-alt desc3"></i><strong class="desc3"> (523)-793-7352</strong>
							</div>
			  			</div>
		  			</div>
				</div>	
		  		<div class="col-xs-12 col-md-12 text-center">
		  			<div class="pagination">
		  				<ul>
		  					<li class="previous">
		  						<a href="#" class="fui-arrow-left"></a>
		  					</li>
		  					<li>
		  						<a href="#">1</a>
		  					</li>
		  					<li>
		  						<a href="#">2</a>
		  					</li>
		  					<li>
		  						<a href="#">3</a>
		  					</li>
		  					<li class="next">
		  						<a href="#" class="fui-arrow-right"></a>
		  					</li>
		  				</ul>
		  			</div>
		  		</div>
			</div>
		</div>
	</div>
	<div class="content-info-2 text-center">
	  <div class="container">
	    <p class="sub-footer">Desarrollado por SistematizarEF</p>
	  </div>
	</div>    
</body>
{% endblock %}

{% block scripts %}
	<script src="{% static 'jsapp/csrf_load.js' %}"></script>
	<script src="{% static 'jslibraries/jquery.autocomplete.min.js' %}"></script>
	<script>
		$(function () {
			var jobs = [
				{ value: 'Software Developer', data: '1'},
				{ value: 'Designer', data: '2'},
				{ value: 'Backend Developer', data: '3'},
				{ value: 'Front end Developer', data: '4'},
			];
			console.log(jobs);
			var data2;
			$.ajax({
				url: '/habilidades/list/',
				type: 'GET',
				success: function(json){
					data2 = [
						{ value: json[0].fields.nhabilidad,data: '1'},
						{ value: json[1].fields.nhabilidad,data: '2'},
					];
					console.log(data2);
					$("#search-word").autocomplete({
						lookup : jobs,
					});
				},
			});
			
		});
	</script>
{% endblock %}