{% extends "index.html" %}
{% load staticfiles %}
{% block head %}
<title>Buscar | OportunidApp</title>
{% endblock %}
{% block content %}
<body class="grey">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid col-xs-12 col-sm-12 col-md-8 col-lg-8">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        
	      </button>
	      <a class="navbar-brand" href="/"><span class="blue-color">Oportunid</span><span class="green-color">App</span></a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-left">
	        <li><a href="#">Como Funciona?</a></li>
	        <li><a href="#">Testimonios</a></li>
	        <li><a href="#">Nos Apoyan</a></li>
	      </ul>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	    <ul class="nav navbar-nav navbar-right nav-align col-xs-12 col-sm-12">
	      <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center"><a href="{% url 'login' %}" class="blue-color-2">Entrar</a></li>
	      <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center"><a href="{% url 'signup' %}" class="registry">Registro</a></li>
	    </ul>
	  </div>
	</nav>
	<div class="container div-find find">
		<div class="col-md-6 padding-right">
			<div class="col-xs-12 col-sm-6 col-md-6 text-center">
				<img src="https://randomuser.me/api/portraits/med/men/10.jpg" class="desc-img-2 img-rounded" alt="	Responsive image">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 top">
				<div class="label-descp-2 label-warning col-xs-12 col-md-6">
					<i class="glyphicon glyphicon-star desc3"></i> 
					<span class="desc">Puntuación: </span><strong class="desc3">5</strong>
				</div>
				<div class="label-descp-2 label-telephone col-xs-12 col-md-6">
					<i class="glyphicon glyphicon-phone-alt desc3"></i>
					<span class="desc">Teléfono: </span><strong class="desc3">(+57) 342 87689 89</strong>
				</div>
				<div class="label-descp-2 label-danger col-xs-12 col-md-6">
					<i class="glyphicon glyphicon-usd desc3"></i> 
					<span class="desc">Precio: </span><strong class="desc3">10</strong>
				</div>
			</div>
			<div class="col-md-12">
				<h4 class="name-user-h4 text-center">Free Pik Toshked</h4>
				<p class="text-center">Skill Name</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan rutrum tristique. Suspendisse blandit mattis porttitor. Proin metus sem, pulvinar quis odio id, fringilla faucibus dolor.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-12">
				<div class="col-md-12 text-center need">
					<a href="#" class="blue-color-2">Te Necesito</a>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-12">
					<div class="content-comment">
						<h4>Arnold S.</h4>
						<p class="comment">Nullam dui erat, vestibulum eget nulla eget, pellentesque cursus turpis. Cras et cursus felis, id vehicula eros. Cras tristique pulvinar turpis. Morbi sit amet nisl sagittis, vehicula magna id, egestas nibh. Duis varius cursus ex sit amet tincidunt. Nulla vitae leo et eros malesuada faucibus vitae et urna.</p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="content-comment">
						<h4>Arnold S.</h4>
						<p class="comment">Nullam dui erat, vestibulum eget nulla eget, pellentesque cursus turpis. Cras et cursus felis, id vehicula eros. Cras tristique pulvinar turpis. Morbi sit amet nisl sagittis, vehicula magna id, egestas nibh. Duis varius cursus ex sit amet tincidunt. Nulla vitae leo et eros malesuada faucibus vitae et urna.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-info-2 text-center">
	  <div class="container">
	    <p class="sub-footer">Desarrollado por SistematizarEF</p>
	  </div>
	</div>    
</body>
{% endblock %}