{% extends "template.html" %}
{% block head %}
<title>Mi Cuenta | OportunidApp </title>
<style>
	.menuItemPerfil{
		background-color: rgb(12, 32, 50);;
	}
</style>
{% endblock %}
{% block content %}
<ul class="DatosMiCuenta">

	<li class="datosPrincipales tituloMiCuenta"> <h3><span class="glyphicon glyphicon-user colorAzul tituloMiCuenta"></span> <span class="tituloMiCuenta"></span>Mi cuenta</h3></li>

	<p class="bloqueSeparador"></p>

	<li class="datosPrincipales"><a href="#"> <p><span class="glyphicon glyphicon-comment colorAzul"></span>Preguntas</a></p></li>

	<ul class="datosInformativosMiCuenta">
		<li><span class="glyphicon glyphicon-circle-arrow-right  colorVerde">
			</span>
				<a href="{% url 'preguntasRecibidas' %}">
					Te han preguntado 
				</a>
			<span class="badge">5</span>
		</li>
		<li>
			<span class="glyphicon glyphicon-circle-arrow-left colorRojo "></span>
			<a href="{% url 'preguntasHechas' %}">
				Tus preguntas
			</a>
			<span class="badge">5</span>
		</li>
	</ul>
	<p class="bloqueSeparador"></p>

	<li class="datosPrincipales"> <a href="{% url 'habilidades' %}"><p><span  class="glyphicon glyphicon-heart-empty colorAzul "></span>Habilidades</a></p></li>

	<ul class="datosInformativosMiCuenta">
		<li> <span class="glyphicon glyphicon-play colorVerde "></span>Activas <span class="badge">5</span></li>
		<li> <span class="glyphicon glyphicon-stop colorRojo" ></span>Inactivas <span class="badge">2</span></li>
	</ul>
	<p class="bloqueSeparador"></p>

	<li class="datosPrincipales"><a href="#"><p><span class="glyphicon glyphicon-info-sign colorAzul"></span> Ayuda</a></p></li>

</ul>
{% endblock content %}
